<section>
	<div class="row">
		<div class="8u 12u$(small)">
			<h2>{{ .heading }}</h2>
			<p>{{ .text | markdownify }}</p>
		</div>
		<div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				<li>
					<h3 class="icon fa-map-marker"><span class="label"></span></h3>
					<a href="https://maps.google.com/?q={{ .gmaps }}">
					{{ end }}
						{{ .address1 }}<br />
						{{ .address2 }}
					</a>
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "phone" }}
				<li>
					<h3 class="icon fa-phone"><span class="label"></span></h3>
					<a href="tel:{{ .Site.Params.contact.phone | replaceRE "[\\s-]" "$1" }}">{{ .Site.Params.contact.phone }}</a>
				</li>
				{{ end }}
				<li>
					<h3 class="icon fa-clock-o"><span class="label"></span></h3>
					<table id="hours">
						<tr>
							<td>Sun</td>
							<td>7:30a - 3p</td>
						</tr>
						<tr>
							<td>Mon</td>
							<td>7:30a - 4p</td>
						</tr>
						<tr>
							<td>Tue</td>
							<td>7:30a - 4p</td>
						</tr>
						<tr>
							<td>Wed</td>
							<td>7:30a - 4p</td>
						</tr>
						<tr>
							<td>Thu</td>
							<td>7:30a - 6p</td>
						</tr>
						<tr>
							<td>Fri</td>
							<td>7:30a - 4p</td>
						</tr>
						<tr>
							<td>Sat</td>
							<td>7:30a - 4p</td>
						</tr>
					</table>
				</li>
				<!-- {{ if isset .Site.Params.contact "email" }}
				<li>
					<h3 class="icon fa-envelope"><span class="label"></span></h3>
					<a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a>
				</li>
				{{ end }} -->
			</ul>
		</div>
	</div>
</section>
