<section>
	<div class="row">
		<div class="8u 12u$(small)">
			<h1>{{ .heading }}</h1>
			<p>{{ .text | markdownify }}</p>
		</div>
		<div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				<li>
					<h3 class="icon fa-map-marker"><span class="label"></span></h3>
					<a href="{{ .address.gmaps }}">
						{{ .address.line1 }}<br />
						{{ .address.line2 }}
					</a>
				</li>
				<li>
					<h3 class="icon fa-phone"><span class="label"></span></h3>
					<a href="tel:{{ .phone | replaceRE "[\\s-]" "$1" }}">{{ .phone }}</a>
				</li>
				<li>
					<h3 class="icon fa-clock-o"><span class="label"></span></h3>
					<table id="hours">
						<tr>
							<td>Sun</td>
							<td>{{ .hours.sun }}</td>
						</tr>
						<tr>
							<td>Mon</td>
							<td>{{ .hours.mon }}</td>
						</tr>
						<tr>
							<td>Tue</td>
							<td>{{ .hours.tue }}</td>
						</tr>
						<tr>
							<td>Wed</td>
							<td>{{ .hours.wed }}</td>
						</tr>
						<tr>
							<td>Thu</td>
							<td>{{ .hours.thu }}</td>
						</tr>
						<tr>
							<td>Fri</td>
							<td>{{ .hours.fri }}</td>
						</tr>
						<tr>
							<td>Sat</td>
							<td>{{ .hours.sat }}</td>
						</tr>
					</table>
				</li>
				<!-- <li>
					<h3 class="icon fa-envelope"><span class="label"></span></h3>
					<a href="mailto:{{ .email }}">{{ .email }}</a>
				</li> -->
			</ul>
		</div>
	</div>
</section>
