<section>
	<div class="row">
		<div class="8u 12u$(small)">
			<h2>{{ .heading }}</h2>
			<p>{{ .text }}</p>
		</div>
		<div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				<li>
					<h3 class="icon fa-map-marker"><span class="label"></span></h3>
					<a href="{{ .gmaps }}">
						{{ .address.line1 }}<br />
						{{ .address.line2 }}
					</a>
				</li>
				<li>
					<h3 class="icon fa-phone"><span class="label"></span></h3>
					<a href="tel:{{ .phone | replaceRE "[\\s-]" "$1" }}">{{ .phone }}</a>
				</li>
				<li>
					<h3 class="icon fa-clock-o"><span class="label"></span></h3>
					<table id="hours">
						<tr>
							<td>Sun</td>
							<td>7:30a - 3p</td>
						</tr>
						<tr>
							<td>Mon</td>
							<td>7:30a - 4p</td>
						</tr>
						<tr>
							<td>Tue</td>
							<td>7:30a - 4p</td>
						</tr>
						<tr>
							<td>Wed</td>
							<td>7:30a - 4p</td>
						</tr>
						<tr>
							<td>Thu</td>
							<td>7:30a - 6p</td>
						</tr>
						<tr>
							<td>Fri</td>
							<td>7:30a - 4p</td>
						</tr>
						<tr>
							<td>Sat</td>
							<td>7:30a - 4p</td>
						</tr>
					</table>
				</li>
				<!-- <li>
					<h3 class="icon fa-envelope"><span class="label"></span></h3>
					<a href="mailto:{{ .email }}">{{ .email }}</a>
				</li> -->
			</ul>
		</div>
	</div>
</section>
