{{ "<!-- Cuisine -->" | safeHTML }}
<section>
	{{ with .Site.Params.cuisine.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	{{ with .Site.Params.cuisine.blurb }}<p>{{ . | markdownify }}</p>{{ end }}
	<div class="row" id="cuisine">
		{{ range .Site.Params.cuisine.gallery }}
		<article class="6u 12u$(xsmall) work-item">
			<a href="{{ $.Site.BaseURL }}images/{{ .image }}" class="image fit thumb"><img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
			<h3>{{ .title | markdownify }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
