{{ "<!-- Header -->" | safeHTML }}
<header id="header">
	{{ if not .Site.Params.avatar.hide }}
	<a href="{{ .Site.BaseURL }}" class="image avatar"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" /></a>
	{{ end }}
	{{ with .Site.Params.sidebar.bio }}
		<h1>{{ . | markdownify }}</h1>
	{{ end }}

	<nav id="sidebar">
		<ul>
			<li><a href="/">Home</a></li>
			<!-- <li><a href="/post">Blog</a></li> -->
			<li><a href="{{ .Site.BaseURL }}#specials">Specials</a></li>
			<li><a href="{{ .Site.BaseURL }}#cuisine">Menu</a></li>
			<li><a href="{{ .Site.BaseURL }}#events">Events</a></li>
			<li><a href="{{ .Site.BaseURL }}#photos">Photos</a></li>
			<li><a href="{{ .Site.BaseURL }}#catering">Catering</a></li>
			<li><a href="{{ .Site.BaseURL }}#contact">Contact</a></li>
		</ul>
	</nav>
</header>
